.header-component {
    width: 86vw;
    height: 11vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .3em;
    background-color: #fff;

    .search-header{
        cursor: pointer;
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: flex-start;
        background-color: #F6F7F9;
        align-items: center;
        padding: .8em 0 .8em 1.6em;
        border-radius: 1.8em;

        img {
            width: 1em;
            margin: 0 .6em 0 0;
        }
        input {
            background-color: transparent;
            width: 40%;
            height: 100%;
            padding: .4em;
            border: none;
            outline: none;
            font-size: 1em;
            font-family: "Noto-regular" ;
        }
    }
    .icon-header {
        width: 22%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: .6em;
        img {
            width: 2.2em;
            cursor: pointer;
        }
    }
    .user-card {
        width: 15%;
        height: 65%;
        border-radius: .75em;
        background-color: #F2ECFF;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 2.4em 0 0;

        img {
            width: 2.2em;
            cursor: pointer;
        }
        p{
            font-size: 1em;
            font-family: "Noto-semibold";
        }
    }
}