header{
    height: 10vh;
    width: 100vw;
    display: flex;
    backdrop-filter: blur(10px);
    position: fixed;
    justify-content: space-between;
    padding: 0 2em;

    .lm-header-logo{
        width: 8em;
    }
    .lm-header-div{
        display: flex;
        align-items: center;
        
        .lm-button-text{
            font-family: 'Noto-regular';
            letter-spacing: -0.25px;
            cursor: pointer;
            border: none;
            color: #fff;
            padding: 1em;
            font-size: .925em;
            text-decoration: none;
        }
        .lm-button-1{
            outline: none;
            cursor: pointer;
            font-family: 'Noto-semibold';
            border: .2em solid #FFFFFF;
            border-radius: 3em;
            padding: .7em 2em .7em 2em;
            background-color: transparent;
            color: #fff;
            transition: all .2s;
        }
        .lm-button-1:hover{
            background-color: #fff;
            color: #6336FF;
            transform: scale(1.05);
        }
    }
}