//cores para uso em todas as partes do site.
$primaria: #6336ff;
$cinza: #edeef2;
$btn-hover: #6236fff1;
@font-face {
	font-family: "Noto-regular";
	src: url("../../assets/fonts/Noto_Sans/NotoSans-Regular.ttf");
}
@font-face {
	font-family: "Noto-semibold";
	src: url("../../assets/fonts/Noto_Sans/NotoSans-SemiBold.ttf");
}
@font-face {
	font-family: "Noto-bold";
	src: url("../../assets/fonts/Noto_Sans/NotoSans-Bold.ttf");
}

@font-face {
	font-family: "Noto-light";
	src: url("../../assets/fonts/Noto_Sans/NotoSans-Light.ttf");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
}

.sg-lg-btn {
	//essa classe é reutilizável para botões simples, com apenas texto e colorido
	border: none;
	background: none;
	cursor: pointer;
	font-family: "Noto-regular";
	font-size: 1em;
	color: $primaria; //exemplo de uso
}

.sg-lg-btn:hover {
	color: #6236ffc0;
}

.sg-lg-btn-complex {
	padding: 0.625em;
	cursor: pointer;
	font-family: "Noto-bold";
	font-size: 1.0625em;
	width: 100%;
	background-color: $primaria;
	border: none;
	color: #fff;
	border-radius: 0.5em;
}

.sg-lg-btn-complex:hover {
	background-color: #6236fff1;
}

.input-main {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 0.5em 0;
	.input-text {
		font-family: "Noto-semibold";
	}
	.default-input {
		background-color: #ebebeb;
		outline: none;
		border: none;
		padding: 1.1em 1em 1.12em 1em;
        width: 100%;
		border-radius: 0.625em;
		font-family: "Noto-regular";
		font-size: 0.90625em;
	}
	.default-input::placeholder {
		color: #6b6f80;
		font-family: "Noto-regular";
	}

	.err-input{
		background-color: #ebebeb;
		border: .5px solid red;
		padding: 1.1em 1em 1.12em 1em;
        width: 100%;
		border-radius: 0.625em;
		font-family: "Noto-regular";
		font-size: 0.90625em;
	}
	.err-p{
		font-size: 0.825em;
		color: red;
		font-family: "Noto-regular";
	}
	//favor não alterar valores aqui.
}

