.nova-content {
    width: 80vw;
    height: 80vh;
    border-radius: 1em;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000b6;
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.6s ease-in-out, trasform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}
.show-main {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}
