
.landing-main{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url('../../../assets/images/wallpaperLp.svg');
    header{
        height: 10vh;
        width: 100vw;
        display: flex;
        backdrop-filter: blur(10px);
        position: fixed;
        justify-content: space-between;
        padding: 0 2em;

        .lm-header-logo{
            width: 8em;
        }
        .lm-header-div{
            display: flex;
            align-items: center;
            
            .lm-button-text{
                font-family: 'Noto-regular';
                letter-spacing: -0.25px;
                cursor: pointer;
                border: none;
                color: #fff;
                padding: 1em;
                font-size: .925em;
                text-decoration: none;
            }
            .lm-button-1{
                outline: none;
                cursor: pointer;
                font-family: 'Noto-semibold';
                border: .2em solid #FFFFFF;
                border-radius: 3em;
                padding: .7em 2em .7em 2em;
                background-color: transparent;
                color: #fff;
                transition: all .2s;
            }
            .lm-button-1:hover{
                background-color: #fff;
                color: #6336FF;
                transform: scale(1.05);
            }
        }
    }
    .lm-section-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60vh;
        .lm-section-1-div-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                font-family: 'Noto-semibold';
                color: #fff;
                font-size: 3em;
                font-weight: 700;
                line-height: 1.5em;
                text-align: center;
                width: 65vw;
                text-shadow: 1px 4px 10px #00000033;
            }
            p{ 
                font-size: .85em;
                color: #fff;
                width: 55vw;
                text-align: center;
                text-shadow: 2px 2px 5px #00000040;
            }
            .lm-section-1-div-text-space-div{
                height: 5vh;
            }
            button{
                font-family: 'Noto-bold';
                padding: 1.5vh 2em;
                border-radius: 3em;
                border: none;
                font-size: 1.2em;
                cursor: pointer;
                color: #6336FF;
                transition: all .2s;
            }
            button:hover{
                transform: scale(1.05);
                color: #fff;
                background-color: #ffffff00;
                border: 1px solid #fff;

            }
        }
        
    }
    .space-div{
        height: 20vh;
    }
    .lm-section-2-cards{
        display: flex;
        justify-content: space-around;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 15vh;
        background-color: white;

        .footer-content{
            width: 90%;
            height: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .links-footer{
                width: 30%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                a{
                    font-family:"Noto-Semibold";
                    font-size: 1em;
                    cursor: pointer;
                } a:hover{
                    filter: opacity(80%);
                }
                
            }
            p{
                font-family: "Noto-bold";
                font-size: .9em;
            }
        }
    }
}
