.cards {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    border: 1px solid red;
    align-items: center;
    width: 12em;
    padding: 2em;
    height: 3em;
    border-radius: .6em;

   .div-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    padding: .7em;
    img{
        width: 3em;
        height: 3em;
    }
   }
   .div-p {
    width: 8em;
    height: 3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .3em;
    p{
        font-family: 'Noto-bold';
        font-size: 1.2em;
    }
   }
}
.cards:hover{
    background-color: #6336FF;
    color: white;
    
    .icon {
        filter: invert(100%);
    }
}