.input-main{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: .5em 0; 
    .input-text{
        font-family: "Noto-semibold";
    }
    .default-input{
        background-color: #EBEBEB;
        outline: none;
        border: none;
        padding: 1.1em 15em 1.12em 1em;
        border-radius: 0.625em;
        font-family: "Noto-regular";
        font-size: 0.90625em;
    }
    .default-input::placeholder{
        color: #6B6F80;
        font-family: "Noto-regular"; 
    }
    //favor não alterar valores aqui.
}