.content-menu {
    .Container-lateral {
        width: 14vw;
        height: 100vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .Subcontainer-lateral {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        .Card{
            margin: 1em;
        }
        .logo-div-p{
            width: 8em;
            height: 3em;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: .3em;
            p{
                font-family: 'Noto-bold';
                font-size: 1em;
                font-weight: 600;
            }
        }
    }
    .Subcontainer2-lateral{
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .Card{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11em;
    padding: .6em;
    height: 3em;
    border-radius: .6em;

   .div-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    padding: .5em;
    img{
        width: 2.5em;
    }
   }
   .div-p {
    width: 8em;
    height: 3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .3em;
    p{
        font-family: 'Noto-bold';
        font-size: 1.2em;
    }
   }
    }
}