@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(0px);
	}
}
.card-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 25vw;
    .card-image-1{  
        transform: translateY(0px);
        animation: float 5s infinite;
        margin-bottom: 35vh;
        width: 15em;
        position: relative;
    }
    .card-image-2{  
        transform: translateY(100px);
        animation: float 3.5s infinite;
        margin-bottom: 35vh;
        width: 15em;
        position: relative;
    }
    .card-parte-texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(10px);
        height: 35vh;
        width: 25%;
        border-radius: 1.5em;
        .card-parte-texto-text{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
            align-items: center;
            h1{
                color: #fff;
            }
            p{
                font-size: .9em;
                color: #fff;
                text-align: center;
                margin-bottom: 3em;
                width: 85%;
            }
            
        }
        
    }
    
}